{% extends 'base.html' %}

{% block styles %}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

{% endblock %}

{% block content %}

<p>Character is {{character.name}}</p>
<a href="{% url 'preLobby' %}">
    <button>Change Character</button>
</a>
<a href="{% url 'createGame' name=character.name %}">
    <button>Create game</button>
</a>

<p></p>

<div style="background-color: #ff0000; border-style: solid;">
    <h1>Games</h1>
    {% if games|length == 0 %}
        <h3>Nobody playing on this server now. Create your game! Quicker!</h3>
    {% else %}
    <table border="1" width="100%" style="text-align: center">
        <tr>
            <th>Title</th>
            <th>Password</th>
            <th>Difficulty</th>
            <th>Users</th>
            <th>Connect</th>
        </tr>
        {% for game in games %}
        <form method="post">
        <tr>
            <td> {{ game.title }} </td>
            <td>
                <input>
            </td>
            <td> {{ game.difficulty }} </td>
            <td> {{ game.users }} </td>
            <td>
                <button> Connect! </button>
            </td>
        </tr>
        </form>
        {% endfor %}

    </table>
    {% endif %}
</div>

{% endblock %}