{% extends 'base.html' %}

{% block styles %}

.dialogue {
    display:grid;
    grid-template-columns: 100px 400px;
    align-items:center;
    width: 500px;
    border: solid #aa0000;
    padding: 0px 10px;
}

{% endblock %}

{% load poll_extras %}

{% block content %}

<h1>Messages</h1>
{% for dialogue in dialogues %}
<a href="{% url 'dialogue' dialogue.id%}">
    <div class="dialogue">
        <div style=" float: left; top:50%">
            <img style="object-fit: cover; width: 100px; height: 100px; border-radius: 50%" src="{{ dialogue.opponent.photo.url|file_exists }}">
        </div>
        <div style="float: left; padding: 0px 20px; transform: translate(0, -10%);">
            <h2 align="left">{{ dialogue.opponent.user.username }}</h2>
            <p align="left">{{ dialogue.lastMessage.text }}</p>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}