{% extends 'base.html' %}

{% block styles %}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

{% endblock %}


{% block content %}

<div class="grid-container">
    <div>
        <h1> {{ profile.user.username }}</h1>
        <div>
            <h2> Characters: </h2>
            {% for character in characters %}
            <a href="{% url 'character armory' character.name %}">
                <p> {{ character.name }} </p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        Some photo
    </div>
</div>

{% endblock %}