{% extends 'base.html' %}

{% block styles %}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

{% endblock %}

{% load poll_extras %}

{% block content %}

<div class="grid-container">
    <div>
        <div>
            <img style="object-fit: cover; width: 300px; height: 300px;" src="{{ profile.photo.url|file_exists }}">

            {% if request.user == profile.user %}
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <!--{{ form.as_p }}-->
                {{ form.photo }}
                <input type="submit" value="Change photo">
            </form>
            {% else %}
            <br>
                <a href="{% url 'dialogue' profile.user.id %}"><button>Write message</button></a>
            {% endif %}
        </div>
    </div>
    <div>
        <h1> {{ profile.user.username }}</h1>
        <div>
            <h2> Characters: </h2>
            {% for character in characters %}
            <a href="{% url 'character armory' character.name %}">
                <p> {{ character.name }} </p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}