{% extends 'base.html' %}

{% block styles %}


label {
        background-color: #eeeeee;
    }

.character-button:hover {
    background-color: #aa1111;
    border: 10px solid #blue;
}

{% endblock %}

{% load poll_extras %}
{% load static %}
{% block content %}

<div class="grid-container">
    <div class="block">
        <div>
            <img style="object-fit: cover; width: 300px; height: 300px;" src="{{ profile.photo.url|file_exists }}">
            <p></p>
            {% if request.user == profile.user %}
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <!--{{ form.as_p }}-->
                <!--{{ form.photo }}-->
                <label class="button" for="profile_pic_btn" id="actual-btn">Choose File</label>
                <input type="file" id="profile_pic_btn" name="photo" accept=".jpg, .jpeg, .png, .webp" hidden/>
                <span id="file-chosen">No file chosen</span>
                <input class="button" type="submit" value="Change photo">
            </form>
            {% else %}
            <br>
                <a href="{% url 'dialogue' profile.user.id %}"><button class="button">Write message</button></a>
            {% endif %}
        </div>
        <h1> server: {{ profile.server }} </h1>
    </div>
    <div class="block">
        <h1> {{ profile.username }} </h1>
        <div>
            <h2> Characters: </h2>
            {% for character in characters %}
            <a style="display:block; display:grid; grid-template-columns: 90px auto;" class="button character-button" href="{% url 'character armory' profile.server character.name %}">
                <img style="display:inline-block" src="{% static character.photo %}">
                <p style="display:inline-block"> <br>{{ character.name }} </p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script%}
<script>
    const actualBtn = document.getElementById('profile_pic_btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function(){
        fileChosen.textContent = this.files[0].name
    })
</script>
{% endblock %}