{% extends 'base.html' %}

{% block content %}


<form class="block" method="post">
    {% csrf_token %}
    <h1><input name="username" type="text" size=40 placeholder="Login"/></h1>
    <h1><input name="password1" type="password" size=40 placeholder="Password"/></h1>
    <h1><input name="password2" type="password" size=40 placeholder="Repeat Password"/></h1>
    <h1><input name="email" type="email" size=40 placeholder="E-mail"/></h1>
    <label for="server">Server:</label>
    <select name="server" id="server">
        <option value="MyServer">MyServer</option>
    </select>
    <br/>
    <br/>
    <input class="button" type="submit" value="Sign Up">

    {% if form.errors %}
    <div class="warning-text" role="alert">{{ form.errors }}</div>
    {% endif %}

    <p class="warning-text">{{ error }}</p>


</form>

{% endblock %}