{% extends 'base.html' %}

{% block content %}

<form method="post">\
    {% csrf_token %}
    <h1><input name="username" type="text" size=40 placeholder="Login"/></h1>
    <h1><input name="password1" type="password" size=40 placeholder="Password"/></h1>
    <h1><input name="password2" type="password" size=40 placeholder="Repeat Password"/></h1>
    <h1><input name="email" type="email" size=40 placeholder="E-mail"/></h1>
    <input type="submit" value="Sign Up">

    {% if form.errors and request.method == 'POST'%}
    <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% elif request.method == 'POST' %}
    <div class="alert alert-success" role="alert">User created successfully!</div>
    {% endif %}

</form>

{% endblock %}